footer {
  min-height: $footer-height;
  display: flex;
  align-items: center;
  background-color: #EFEFEF;
  text-align: center;
  overflow: hidden;

  .logo {
    width: $logo-footer-width;
    height: $logo-footer-height;
    filter: brightness(0);
  }
}