body {
  font-family: $font-family-default;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  cursor: default;
  color: $color-black;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: $default-transition;
  position: relative;

  &:hover,
  &:active,
  &:focus,
  &.active {
    color: $color-link-hover;
  }
}