header {
  padding: $space-default 0;
  height: $header-height;
}

.logo {
  background: url(/assets/images/logo.svg) no-repeat center left/100%;
  color: $color-main;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: $logo-width;
  height: $logo-height;
  display: block;

  &:before {
    content: none;
  }
}