@import "mixins";

$rem-base: 16;

$space-grid: rem-calc(10);
$space-default: rem-calc(20);

$footer-height: rem-calc(40);

$base-font-size: rem-calc(14);

$color-main: #0379c4;
$color-black: #333333;